AuthUserFile /home/cultirefine/www/cultirefine.com/reserve/.htpasswd
AuthGroupFile /dev/null
AuthName "Please enter your ID and password"
AuthType Basic
require valid-user
# user_szono
# CJrUZVpfH_V9

