@charset "utf-8";
/*--------------------------------------------

	INDIVIDUAL > TABLET

--------------------------------------------*/
@media all and (max-width:1379px) and (min-width : 1025px ){
}
/*--------------------------------------------

	TABLET

--------------------------------------------*/
@media all and (max-width : 1024.9999px ) and (min-width : 684px ){
	.for_sp{
		display: none;
	}
}
@media all and (min-width : 684px ){
	.for_sp{
		display: none;
	}
}
@media all and (max-width : 1024.9999px ){
}
@media all and (max-width : 899.9999px ){
}
/*--------------------------------------------

	MOBILE

--------------------------------------------*/
@media all and (max-width : 683.9999px) {
	.loading--logo{
		width:167px;
		height: 73px;
	}
	.loading--logo{
		width:167px;
		height: 73px;
	}
	.loading--logo-svg{
		width:167px;
		height: 73px;
	}
	.base{
		padding:90px 4.8vw;
		background-image:url(../images/bg--01-sp.jpg);
	}
	.base--logo{
		margin:0 auto;
	}
	.sec--block{
		padding:150px 0 120px;
	}
	.block--close{
		width: 30px;
		right: 45px;
		top: 45px;
	}
	.concept--lead{
		font-size: 18px;
	}
	.concept--plane{
		font-size:14px;
		line-height:2;
		text-align: left;
	}
	.gallery--item{
		width: 100%;
	}
	.gallery--item:nth-child(n+2){
		margin-top: 12px;
	}
	.reservation--lead{
		line-height:1.75;
		margin-bottom:4em;
	}
	.reservation--item:nth-child(n+2){
		margin-top: 1.6em;
	}
	
	
}